<div class="navbar-wagon">
  <p>Welcome</p>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1494962227006-107baac595eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80);">
  <div class="container">
    <h1>Add your <strong>favorite</strong> <strong>drinks</strong></h1>
    <p></p>

    <%= link_to "Add new", new_cocktail_path, class: "btn btn-gradient my-btn" %>
  </div>
</div>
<h2 class="text-center">Top drinks</h2>
<div class="cards container">
<% @cocktails.each do |cocktail|  %>
  <div class="card-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">

    <div class="card-product-infos" >
    <h2 class="text-center"> <%= cocktail.name  %></h2>
    <!-- <i class="fas fa-trash-alt"> -->
     <p> <%= link_to "Show", cocktail_path(cocktail)%> </p>
    </div>
  </div>
<% end %>
</div>

 <!-- -->
</div>
